@font-face {
  font-family: 'Expose';
  src: url('./fonts/expose.woff2') format('woff2'),
       url('./fonts/expose.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
