@font-face {
  font-family: 'Expose';
  src: url('https://raw.githubusercontent.com/amalkhairin/font-hosting/refs/heads/main/expose.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/amalkhairin/font-hosting/refs/heads/main/expose.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
